html {
  font-size: clamp(14px, 2vw, 20px);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.wrapper {
  max-width: 80%;
  margin: auto;
  height: calc(100vh - 2rem);
  padding: 2rem 0 0;
  position: relative;
}

a {
  color: #07b4a2;
}

h1 {
  margin: 1rem 0;
}

.step1:after {
  width: 25%;
}
.step2:after {
  width: 50%;
}

.step3:after {
  width: 75%;
}

.step4:after {
  width: 100%;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker-popper {
  position: fixed !important;
  transform: translate(-50%, -50%) !important;
  left: 50% !important;
  top: 50% !important;
  z-index: 1 !important;
}

.react-datepicker__tab-loop:before {
  content: "";
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.64);
  z-index: 1;
}

.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::after {
  display: none;
}

.react-datepicker__header {
  background-color: transparent !important;
  border: 0 !important;
  padding-bottom: 0 !important;
}

.react-datepicker__month {
  margin-top: 0 !important;
}

.react-datepicker__day-name {
  color: #80808033 !important;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__day--selected {
  background-color: transparent !important;
  color: #07b4a2 !important;
}

.react-datepicker__day {
  font-size: 15px;
}

html .react-datepicker__navigation-icon--next::before {
  transform: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3E%3Cpath d='M440.6 273.4c4.7-4.5 7.4-10.8 7.4-17.4s-2.7-12.8-7.4-17.4l-176-168c-9.6-9.2-24.8-8.8-33.9 .8s-8.8 24.8 .8 33.9L364.1 232 24 232c-13.3 0-24 10.7-24 24s10.7 24 24 24l340.1 0L231.4 406.6c-9.6 9.2-9.9 24.3-.8 33.9s24.3 9.9 33.9 .8l176-168z'/%3E%3C/svg%3E");
  border: 0;
  width: 16px;
  background-repeat: no-repeat;
  height: 16px;
  position: relative;
  left: auto;
  top: auto;
}

html .react-datepicker__navigation-icon--next,
html .react-datepicker__navigation-icon--previous {
  left: auto;
  top: auto;
  font-size: 0;
  width: auto;
}

html .react-datepicker__navigation-icon--previous::before {
  transform: none;
  right: auto;
  top: auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3E%3Cpath d='M7.4 273.4C2.7 268.8 0 262.6 0 256s2.7-12.8 7.4-17.4l176-168c9.6-9.2 24.8-8.8 33.9 .8s8.8 24.8-.8 33.9L83.9 232 424 232c13.3 0 24 10.7 24 24s-10.7 24-24 24L83.9 280 216.6 406.6c9.6 9.2 9.9 24.3 .8 33.9s-24.3 9.9-33.9 .8l-176-168z'/%3E%3C/svg%3E");
  border: 0;
  width: 16px;
  background-repeat: no-repeat;
  height: 16px;
  position: relative;
}

html .react-datepicker__navigation {
  border: 1px solid;
  border-color: #80808033;
  border-radius: 8px;
  width: auto;
  height: auto;
  padding: 5px;
  top: 8px;
}

html .react-datepicker__navigation--next {
  right: 8px;
}

html .react-datepicker__navigation--previous {
  left: 8px;
}

.form-field-wrap {
  margin-bottom: 1rem;
}

.react-datepicker__children-container {
  display: flex;
  width: auto;
  clear: both;
  justify-content: space-between;
}

.form-field-wrap input {
  width: calc(100% - 1rem);
  padding: 0 0 0 1rem;
  height: 2rem;
  margin-bottom: 0;
  border-color: #80808033;
  border-width: 1px;
  border-radius: 8px;
  outline: 0;
}

.form-field-wrap select {
  width: 100%;
  padding: 0 1rem;
  height: 2rem;
  margin-bottom: 0;
  border-color: #80808033;
  border-width: 1px;
  border-radius: 8px;
  outline: 0;
}

.form-field-wrap.prefix {
  margin-bottom: 0;
  width: fit-content;
  position: relative;
  top: 1.5rem;
  left: 1rem;
  margin-top: -1.5rem;
}

.form-field-wrap.prefix select {
  border: 0;
  height: auto;
  width: auto;
  padding: 0;
}

.form-field-wrap input[name="phone"] {
  padding-left: 4rem;
  width: calc(100% - 4rem);
}

button[type="submit"] {
  width: 100%;
  background-color: #07b4a2;
  border: 0;
  border-radius: 100px;
  height: 3rem;
  color: #fff;
  font-weight: bold;
  position: absolute;
  bottom: 1rem;
  font-size: 1rem;
}

button[type="submit"]:disabled {
  background-color: #80808033;
  color: #000;
}

form .error-message {
  color: red;
  font-size: 13px;
}

.confirmation-image {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  object-fit: cover;
  border-radius: 15px;
  max-height: 20rem;
}

button.close {
  background-color: transparent;
  border-width: 1px;
  border-color: #80808033;
  padding: 7px 15px;
  border-radius: 5px;
}

button.add {
  background-color: #07b4a2;
  color: #fff;
  border: 1px;
  padding: 7px 15px;
  border-radius: 5px;
}
